// Breakpoints
$xl: 1400px;
$lg: 1200px;
$md: 991px;
$sm: 768px;
$xs: 576px;

// Colors 
$hero-primary: #717784;
$hero-secondary: #696A86;
$black-green: #626780;

// Fonts 
$poppins: 'Poppins', sans-serif;  
$serif: 'DM Serif Display', serif; 