.header {
    &__nav {
        @media (max-width: $xs) {
            display: none;
        }
    }
    &__list {
        display: flex;
        align-items: center;
    }
    &__item {
        list-style: none;
    }
    &__link {
        display: inline-block;
        text-decoration: none;
        padding: 0 28px;
        font-family: $poppins;
        font-size: rem(18);
        font-weight: 500;
        line-height: rem(27);
        letter-spacing: 0em;
        color: $hero-primary;
        &--button {
            color: #ffffff;
            background: #9B9BCA;
            border-radius: 10px;
            padding: 16px 67px;
            margin-left: 28px;
        }
    }

}