.hero {
    background: url("/Users/kostas/Desktop/responsive prac/assets/img/header-background.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 12px;
    position: relative;
    @media (max-width: $xs) {
        background: linear-gradient(180deg, #FFFFFF 48.96%, #E5E5E5 100%);
    }
    &__nav-bar {
        height: 16vh;
        background: rgba(196, 196, 196, 0.1);
        position: absolute;
        // width: 100%;
    }
}